
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Reading List - Blog for Adam Fortuna</title>
  <meta name="author" content="Adam Fortuna">
  
  <meta name="description" content="Reading List I listen to a lot of audiobooks. Whenever I&rsquo;m driving, walking my dog or doing things around the house I&rsquo;m probably &hellip;">
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://adamfortuna.com/books">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="http://feeds.feedburner.com/adamfortuna" rel="alternate" title="Blog for Adam Fortuna" type="application/atom+xml">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="post " >

<div id='wrap'>
<header class='topbar' role="banner">
  <div class="container">
    <div class='col-md-offset-2 col-sm-3 col-xs-12'>
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Blog for Adam Fortuna</a>
      </div>
    </div>

    <nav role="navigation" class='col-lg-6 col-md-7 col-sm-7 col-xs-12'>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/about">About</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/tools">Tools</a></li>
    <li><a href="/archives">Archives</a></li>
    <li><a href="/">Latest</a></li>
  </ul>
</nav>
  </div>
</header>



<main id='content' role='main'>
  <article>
    <header>
      <div class='container'>
        <div class='col-md-7 col-md-offset-2'>
          <h1 class="title">
            <a href="">Reading List</a>
          </h1>
        </div>
      </div>
    </header>

    <div class='container content'>
      <section class='col-md-9 col-md-offset-2'>
        <p>I listen to a lot of audiobooks. Whenever I&rsquo;m driving, walking my dog or doing things around the house I&rsquo;m probably listening to something. This usually means periods of lots of books with the occasional day off between series to catch up on a few podcasts. Starting in 2013, I began keeping track of what I listened to.</p>

<p>The <a href="https://github.com/codeschool/EmberReadinglist">Ember.js code for this page</a>, was used to make a number of Code School screencasts including one where I build it from scratch: <a href="https://www.codeschool.com/code_tv/soup-to-bits-warming-up-with-ember">Soup to Bits: Warming Up With Ember.js</a>. The Ember.js application was expanded on to add a Rails backend in the <a href="https://www.codeschool.com/code_tv/soup-to-bits-surviving-apis-with-rails">Soup to Bits: Surviving APIs with Rails</a> video. The same concept was also used to build an Angular.js version in <a href="https://www.codeschool.com/code_tv/soup-to-bits-shaping-up-with-angular-js">Soup to Bits: Shaping Up With Angular.js</a>.</p>

<p>The code was recently rewritten to use AngularJS with <a href="https://github.com/adamfortuna/scribe">Scribe</a>. This hits a Rails API at api.adamfortuna.com and caches results from GoodReads.</p>

<div ng-app='Scribe'>
  <script type='text/ng-template' id='index.html'>
    <div>
      <h2>Books</h2>

      <ol class='breadcrumb'>
        <li>Books</li>
      </ol>
    </div>

    <div class='row'>
      <div class='col-md-8 col-sm-8'>
        <ul class='list-unstyled books'>
          <sb-review ng-repeat='review in ctrl.reviews | filter: ctrl.filter' review='review'></sb-book>
        </ul>
      </div>

      <div class='col-md-3 col-md-offset-1 col-sm-4'>
        <h3>Filter Books</h3>
        <sb-filters filter='ctrl.filter'></sb-filters>
        <sb-rating-select></sb-rating-select>
        <sb-currently-reading></sb-currently-reading>
      </div>
    </div>
  </script>

  <script type='text/ng-template' id='show.html'>
    <div>
      <h2>Books</h2>

      <ol class='breadcrumb'>
        <li><a href='#/'>Books</a></li>
        <li class='active'>{{ctrl.review.book.title}}</li>
      </ol>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <ul class='books list-unstyled'>
          <sb-review review='ctrl.review'></sb-review>

          <li class='row book'>
            <div class='col-xs-9 col-xs-offset-3 col-md-8 col-md-offset-3 col-lg-offset-2'>
              <h3>More From <a href='{{ctrl.review.link}}' target='_blank'>Goodreads</a></h3>
              <div class='description' sb-safe-html='{{ctrl.review.book.description}}'></div>

              <div>
                <h3>Genres</h3>
                <ul class='list-unstyled list-inline'>
                  <li ng-repeat='genre in ctrl.review.book.genres'>
                    <a class='label label-primary' href='' ng-click='ctrl.addFilter("genre",genre)'>{{genre}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </script>

  <div ng-view></div>
</div>




      </section>
    </div>
  </article>
</main>
</div>
<footer>
  <div class='container'>
    <div class='col-md-3 col-md-offset-2 col-xs-12'>
      <h2>About</h2>
      <p>Personal blog for Adam Fortuna, a web developer living in Orlando, FL. I Program, CrossFit, play ping pong and ultimate frisbee and love trying new food.</p>
    </div>

    <div class='col-md-2 col-xs-6 col-sm-4'>
      <h2>Posts By Tag</h2>
      <!-- Put your popular tags here -->
<ul>
  <li><a href='/tags/goals'>Goals</a></li>
  <li><a href='/tags/travel'>Travel</a></li>
  <li><a href='/tags/self-improvement'>Self Improvement</a></li>
</ul>

    </div>

    <div class='col-md-2 col-xs-6 col-sm-4'>
      <h2>Pages</h2>
<ul>
  <li><a href="/">Latest</a></li>
  <li><a href="/archives">Archive</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/tools">Tools I Use</a></li>
</ul>
    </div>

    <div class='col-md-3 col-xs-12 col-sm-4'>
      <h2>Contact</h2>
<p>©2013 Adam Fortuna.</p>
<p>Powered by <a href='http://octopress.org'>Octopress</a></p>
    </div>
  </div>
</footer>

<script>
  var disqus_shortname = "adamfortuna";
</script>
<script src="//go.disqus.com/count.js" async></script>
<script src="/javascripts/vendor.js" type="text/javascript"></script>


<script src="/javascripts/scribe.min.js"></script> <script>
  angular.module('Scribe').config(['settingsProvider', function config(settingsProvider) {
    settingsProvider.setId(2419634);
    settingsProvider.setApiUrl('http://goodcache.herokuapp.com');
  }]);
</script>




  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-90326-12']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</body>
</html>