<article>
  <header>
    <div class='container'>
      <div class='col-md-10 col-md-offset-2'>
        <h1 class="title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        {% include post/meta.html %}
      </div>
    </div>
  </header>

  <div class='container content'>
    <section class='col-md-7 col-md-offset-2'>    
      {% if single_page or postNumber == 0 %}
        {% include post/author.html %}
      {% endif %}
      <div class='post-content'>
        {% if single_page %}
          {{ content }}

          {% if single_page and post.sharing %}
            {% include post/share.html %}
          {% endif %}

        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    </section>
  </div>

  {% if single_page and post.comments %}
    <div class='comments' id='comments'>
      <div class='container'>
        <section class='col-md-7 col-md-offset-2'>
          <h2>Comments</h2>
          <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
      </div>
    </div>
  {% endif %}
</article>