header.topbar
  border-top: 5px solid $c-header-top-color
  font-family: $c-header-fontFamily
  background-color: $c-header-backgroundColor
  a
    padding: 24px
    color: $c-header-link-color
    &.navbar-brand
      @if $c-header-logo-image != ''
        text-indent: -9999px
        background: url($c-header-logo-image)
        background-repeat: no-repeat
        background-size: 64px
        background-position: 10px 15px

      b
        font-weight: 700
      &:hover
        color: $c-header-link-color-hover
  .nav > li > a
    &:hover
      background-color: darken($c-header-backgroundColor, 15%)
      color: $c-header-link-color-hover

  nav
    .navbar-nav
      margin: 0px -15px
      >li
        float: right

.navbar-toggle
  margin-top: 17px
  .icon-bar
    border: 1px solid #a0cfee



.image-post
  .navbar-header
    margin-left: 0 !important

.navbar-header
  margin-left: 16.666% !important

+respond-to(993px, max-width)
  .navbar-header
    margin-left: 0 !important
  .navbar-nav
    a
      padding: 24px 18px !important

+respond-to(768px, max-width)
  .navbar-header
    margin-left: 0 !important
